/* components/LoginForm.module.css */
.login__loginForm {
    max-width: 300px;
    width: 100%;
    flex: 5;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow .4s ease-in-out;
  }


  .login__loginForm:hover {
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .login__loginForm h2 {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  
  .login__loginForm--inputGroup {
    margin-bottom: 10px;
  }
  
  .login__loginForm label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  .login__loginForm input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: .2rem;
    transition: outline .3s ease-in-out;
    outline: .1rem solid transparent;
    background-color: #E8F0FE;
    color: black;

  }

  .login__loginForm input:focus {
    outline: .1rem solid #0070F3;
  }
  
  .login__loginForm button {
    background-color: #0070f3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  